.page {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 16px;

  @media (max-width: 1024px) {
    padding: 32px 16px;
  }

  @media (max-width: 768px) {
    padding: 24px 12px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}


.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
